@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Cinzel:400,900|Raleway:100,400,900');


html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-size: 1.3em;
    background: linear-gradient(to bottom,rgb(42, 116, 165),  rgb(160, 213, 248));
}

img {
    height: 100%;
    width: 100%;
}

.wrapper {
    /* background: linear-gradient(to bottom,rgb(42, 116, 165),  rgb(160, 213, 248)); */
    position: relative;
    height: 100vh;
    width: 100vw;
}

.wrapper canvas {
    position: absolute;
}

.logo-wrapper {
    display: block;
    position: relative;  
    top: 30%;
    margin: auto;
    max-width: 20em;
}

.wrapper h1 {
    font: .8em/1.5 "Open Sans", sans-serif;
    letter-spacing: .3em;
    margin-top: 1em;
    text-align: center;
    color: rgb(80, 80, 80);
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.wrapper h1:hover {
    transform: scale(1.1);
}

.onepage-pagination li a:before{
    background: rgba(255, 255, 255, 0.555);
}

.onepage-pagination li a.active:before{
    border: 1px solid rgba(255, 255, 255, .555);
}

.down-arrow {
    color: rgba(255, 255, 255, 0.795);
    display: inline-block;
    position: absolute;
    top: 92%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}
  
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
  
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}
}

/* BRAND PURPOSE SECTION */

.brand-purpose {
    /* background: linear-gradient(to bottom,rgb(160, 213, 248), rgba(182, 45, 102, 0.623)); */
    padding: 1.4em;
    padding-top: 2.5em;
    font-family: 'Raleway';
    font-weight: 100;
    color: white;
}

.brand-purpose-item h4 {
    margin-bottom: 1em;
}

.brand-purpose-item {
    margin-bottom: 3em;
}

.brand-purpose-item .highlight {
    margin-top: -.7em;
    letter-spacing: .08em;
    font-weight: 400;
}

.brand-purpose-item .bold {
    font-weight: 400;
}

.brand-purpose-item h4 {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 1.3em;
}

/* SERVICE FEATURES SECTION */

.service-features {
    box-shadow: 0px 0px 0px 0px rgb(160, 213, 248);
    /* background: linear-gradient(to bottom,rgba(182, 45, 102, 0.623), rgb(47, 187, 140)); */
    position: relative;
    font: .5em/1.5 "Raleway", sans-serif;
    width: 100vw;
    height: 100vh;
}

.section-description {
    color: aliceblue;
    position: relative;
    margin-left: 2em;
    margin-top: 2em;
}

.section-description p {
    margin-left: .3em;
    font-size: 1.3em;
}

.feature {
    display: flex;
    position: relative;
    height: 5.3em;
    top: 2em;
    justify-content: left;
    margin-bottom: 4.2em;
}

.feature-icon {
    display: inline-block;
    position: relative;
    flex: 1;
    left: 2em;
    text-align: left;    
}

.feature-icon i {
    font-size: 6em;
    color: aliceblue;
}

.feature-content {
    color: aliceblue;
    position: relative;
    margin-left: -4em;
    margin-top: .1em;
    display: inline-block;
    padding-bottom: 2em;
    flex: 2;
}

.feature-content h1 {
    font-weight: bold;
}

.feature-title {
    position: relative;
    display: inline;
    font-size: 1em;
    bottom: .3em;
    
}

.feature-title h1 {
    font-size: 1.4em;
}

.feature-description {
    text-align: left;
    margin-right: 2em;
    padding-right: 3em;
    margin-top: -1em;
}

/* SERVICE CATEGORY */

.categories {
    /* background: linear-gradient(to bottom,rgb(47, 187, 140), rgb(178, 90, 201)); */
    padding-top: .5em;
    color: aliceblue;
}

.category-content {
    text-align: center;
    margin-bottom: .6em;
}

.category-title {
    text-transform: uppercase;
    padding-top: 1em;
}

.category-title h1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: 1px;
}

.category-description {
    padding: .5em .5em .2em .5em;
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 3% 3%;
}

.category-description p {
    font-family: "Raleway";
    font-size: .7em;
}


/* CONTACT SECTION */
.contato {
    color: rgb(59, 59, 59);
    display: block;
    position: relative;
    font: .5em/1.5 "Open Sans", sans-serif;
    margin: auto;
    width: max-content;
    text-align: center;
    top: 50%;
    transition: all .2s ease-in-out;
}

.contato:hover {
    color: white;
    transform: scale(1.1);
}
.contato h2 {
    font-weight: 100;
}

.contato h2:hover {
    transform: scale(1.2);
}

.contato h2 a:link {
    text-decoration: none;
    color: inherit;
}

.contato h3 {
    font-weight: 100;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    .logo-wrapper img {
        display: block;
        position: relative;
        right: .2em;
        max-width: 10em;
        margin: 0 auto;
    }
}

/* TODO -- Manage screen orientation */
